# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import sys


sys.path.insert(0, os.path.abspath('../WeatherPy/'))

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:

file = "../WeatherPy/cityweatherdata.csv"
weather_df = pd.read_csv(file)
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,kontagora,10.3999,5.4695,82.87,56,73,5.55,NG,1618814797
1,kysyl-syr,63.8986,122.7617,21.31,77,100,8.48,RU,1618814800
2,vitim,59.4511,112.5578,32.61,71,96,6.91,RU,1618814800
3,dawei,14.0833,98.2000,87.60,60,78,7.72,MM,1618814800
4,dalsingh sarai,25.6667,85.8333,104.65,6,0,16.98,IN,1618814800

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
ideal_weather = weather_df(weather_df["Max Temp"]<80

In [22]:
#ideal_weather = (weather_df['Max Temp'] >80)&weather['']

newdf = weather_df.query('`Max Temp`<80 & `Max Temp`>70 & `Wind Speed`<10 &Cloudiness==0')
newdf

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
202,puerto escondido,15.8500,-97.0667,77.50,67,0,5.28,MX,1618814832
208,atar,20.5169,-13.0499,73.98,18,0,7.63,MR,1618814833
276,broken hill,-31.9500,141.4333,71.60,28,0,8.05,AU,1618814843
352,byron bay,-28.6500,153.6167,71.60,68,0,8.05,AU,1618814842
353,xai-xai,-25.0519,33.6442,72.25,59,0,4.47,MZ,1618814857
371,ballitoville,-29.5390,31.2144,75.00,64,0,1.14,ZA,1618814860
385,roma,-26.5833,148.7833,73.42,25,0,4.79,AU,1618814861
396,yulara,-25.2406,130.9889,75.20,19,0,6.91,AU,1618814863
495,guarapari,-20.6667,-40.4975,75.20,83,0,2.30,BR,1618814880
528,vila velha,-20.3297,-40.2925,75.20,83,0,2.30,BR,1618814885

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure